.wrapper {
  width: 60vw;
  height: 60vh;
  min-width: 700px;
  /* position: absolute; */
  position: relative;
  left: 20vw;
  top: 10vh;
  padding-top: 50px;
  padding-left: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-top: 80px;
  /*grid-template-columns: repeat(2, minmax(0, 1fr))*/
  
}
.box {
  width: 90%;
  height: 80%;
}

.header {
  position: relative;
  margin-left: 40px;
}

.logo {
  position: absolute;
  top: 0;
  right: 40px;
}

@media only screen and (max-width: 600px) {
  .logo {
    position: relative;
    margin-left: 40px;
  }
}